body {
    background-color: rgb(24, 22, 22);
}

div {
    text-align: center;
    padding: 50px;
    border-bottom: 5px solid #b5b5b5;

}

img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    width: 20rem;
    padding: 12px;
    background-color: #b4b4b4 !important;
    border-radius: 5%;
}

h1 {
    font-size: 3rem;
    font-family: 'Times New Roman';
    padding-bottom: 5rem;
    text-align: center;
    text-decoration: underline;
    margin: auto;
    color: #c0c0c0;
}

h2 {
    font-size: 2.65rem;
    text-align: center;
    color: #bdbdbd;

}

p {
    font-size: 1.3rem;
    font-family: system-ui;
    padding: 1.5rem;
    width: 60rem;
    margin: auto;
    text-align: center;
    line-height: 2.3rem;
    color: #dbcfcf;
}


span {
    font-weight: bold;
    color: rgb(32, 154, 253)
}

.capa-livro-2{
    background-color: blue;

}

.capa-livro{
    background-color: pink;

}

.button{
    cursor: pointer;
    padding: 0.5% 1% 0.5% 1%;
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #47BA6F;
    border-radius: 8px;

}