body{
    margin: 0;
    background-image: url(img1.jpg);
    text-align: center;
}
.topo{
    font-size: 25px;
    font-family: fantasy;
    font-weight: bold;
    background-color: rgba(27, 24, 212, 0.76);
    text-align: center;
    padding: 10px 20px;
    text-align: center;
}
h1{
    padding: 10px;
    width: 600px;
    margin: 0;
    line-height: 5rem;
    color: rgb(201, 201, 201);
}
img {
    text-align: center;
    width: 80%
}
span {
    font-family: system-ui;
    font-size: 20px;
    background-color: blue;
    border-radius: 8px;
    padding: 0.25;
    color: #fcfcfc;
    font-weight: bold;
}

p{
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    width: 60rem;
    margin: auto;
    padding: 11px;
    color: rgb(201, 201, 201);
}

  .box-compra {
    border: 1px solid #fff;
    text-align: center;
    margin: 0 ;
    width: 350px;
    padding: 10px 20px 20px;
    display:inline-table;
  }
 
.texto-compra {
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: auto;
    margin-bottom: 1rem;
}

  a {
    background-color: #fff;
    padding: 5px 10px;
    line-height: 5px;
    text-decoration: none;
    color: #000;
    border-radius: 20px;
  }
  